<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewData["Title"] - Piligrim</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/additional-methods.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/common.js" asp-append-version="true"></script>
    <script src="~/js/cart-icon.js" asp-append-version="true"></script>
    @RenderSection("head", false)
</head>
<body>
    <div class="container main-wrapper">
        <header class="row">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/"><b>PILIGRIM</b></a>
                    </div>

                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="navbar-right logout-btn">
                            <a asp-action="SignOut" asp-controller="Login" class="btn btn-default navbar-btn">
                                <span>Выйти</span>
                            </a>
                        </div>
                    }

                    <div class="navbar-right">
                        <a asp-action="Index" asp-controller="Order" class="btn btn-default navbar-btn cart-icon">
                            <span class="fa fa-shopping-cart"></span>
                            <span class="badge" data-bind="{text: count}"></span>
                        </a>
                    </div>

                    <div class="navbar-right">
                        @await Component.InvokeAsync("Search")
                    </div>
                </div>
            </nav>
        </header>
        <section class="row">
            <div class="col-sm-3">
                @await Component.InvokeAsync("Menu")
            </div>
            <div class="col-sm-9">
                @RenderBody()
            </div>
        </section>
        <footer class="row">
            <div class="navbar navbar-default">
                <div class="container-fluid">
                    <ul class="nav navbar-nav">
                        <li>
                            <a asp-controller="Content" asp-action="Index" asp-route-page="kak-sdelat-zakaz"><span class="fa fa-shopping-cart"></span> Как сделать заказ</a>
                        </li>
                        <li>
                            <a asp-controller="Content" asp-action="Index" asp-route-page="kak-oplatit-zakaz"><span class="fa fa-credit-card"></span> Как оплатить товар</a>
                        </li>
                        <li>
                            <a asp-controller="Content" asp-action="Index" asp-route-page="dostavka"><span class="fa fa-truck"></span> Доставка</a>
                        </li>
                        <li>
                            <a asp-controller="Content" asp-action="Index" asp-route-page="o-nas"><span class="fa fa-info"></span> О нас</a>
                        </li>

                    </ul>
                    <div class="navbar-form navbar-right">
                        <a class="btn btn-social-icon btn-vk" href="#">
                            <span class="fa fa-vk"></span>
                        </a>
                        <a class="btn btn-social-icon btn-facebook" href="#">
                            <span class="fa fa-facebook"></span>
                        </a>
                        <a class="btn btn-social-icon btn-instagram" href="#">
                            <span class="fa fa-instagram"></span>
                        </a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>
