<a asp-action="Index" asp-controller="Cart" class="btn btn-default cart-icon">
    <span class="glyphicon glyphicon-shopping-cart"></span>
    <span class="badge" data-bind="{text: count}"></span>
</a>