@{
    ViewData["Title"] = "Доставка";
}

<div class="container-fluid">
    <h1>Доставка и оплата</h1>

    <p>В Интернет-магазине PILIGRIM легко и просто покупать товары.</p>
    <ul>
        <li>
            <u>Для покупателей Уфы</u>
            <ul>
                <li>минимальная сумма заказа 500 руб.</li>
                <li>при заказе товара от 3000 руб, доставка бесплатно (в черте города)</li>
                <li>при заказе на сумму до 3000 руб., оплачивается курьерская доставка 200 руб. (в черте города)</li>
                <li>стоимость доставки за пределы Уфы – по договоренности</li>
                <li>оплата заказа курьеру при доставке или безналичный расчет</li>
            </ul>
        </li>
        <li>
            <u>Для покупателей в регионах России</u>
            <ul>
                <li>минимальная сумма заказа 3000 руб.</li>
                <li>доставка транспортными компаниями или курьерской службой</li>
                <li>при заказе от 10 000 руб. доставка до ТК или КС – бесплатно</li>
                <li>при заказе до 10 000 руб. доставка до ТК или КС – 200 руб.</li>
                <li>предоплата заказа 100%</li>
            </ul>
        </li>
    </ul>
</div>
