@{
    ViewData["Title"] = "Как оплатить заказ";
}

<div class="container-fluid">
    <h1>Как оплатить заказ</h1>

    <ul>
        <li>Наличными курьеру</li>
        <li>Перевод на карту по р/сч или Сбербанк Онлайн</li>
    </ul>

    <p>Все вопросы по доставке или оплате, Вы можее обсудить по любому виду связи VK, WhatsApp или контактным телефонам.</p>

    <p>Приятных покупок!</p>
</div>