@{
    ViewData["Title"] = "Оптовикам";
}

<div class="container-fluid">
    <h1>Оптовикам</h1>

    <p>
        Для получения информации по условиям оптовых закупок, заполните форму обратной связи ниже. И мы свяжемся с Вами в ближайшее время.
    </p>
</div>