@model string
<form class="navbar-form" method="get" asp-action="List" asp-controller="Product">
    <div class="form-group">
        <input type="text" name="search" class="form-control" placeholder="Поиск" value="@Model"/>
    </div>
    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
</form>