@model AddOrderViewModel
@{
    ViewData["Title"] = "Моя корзина";
}
<div class="container-fluid cart">
    <h1>Моя корзина</h1>
    <form asp-action="CreateOrder" class="form" method="post">
        <div class="row">
            <div class="table-responsive cart-list">
                <table class="table table-hover order-list">
                    <thead>
                        <tr>
                            <th>Товар</th>
                            <th>Наименование</th>
                            <th>Количество</th>
                            <th>Итого</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: items">
                        <tr>
                            <td>
                                <input type="hidden" data-bind="attr: {name: $parent.orderItemName($index(), 'Id')}, value: id" />
                                <input type="hidden" data-bind="attr: {name: $parent.orderItemName($index(), 'Color')}, value: color" />
                                <input type="hidden" data-bind="attr: {name: $parent.orderItemName($index(), 'Size')}, value: size" />
                                <input type="hidden" data-bind="attr: {name: $parent.orderItemName($index(), 'Price')}, value: price" />
                                <input type="hidden" data-bind="attr: {name: $parent.orderItemName($index(), 'Count')}, value: count" />

                                <img data-bind="attr: { src: ('/image/100/75?url=' + thumbnail), alt: title}" />
                            </td>
                            <td>
                                <span data-bind="text: title"></span> <br />
                                Цвет: <b data-bind="text: color"></b> <br />
                                Размер: <b data-bind="text: size"></b>
                            </td>
                            <td>
                                <div class="input-group icrementer">
                                    <span class="input-group-addon btn" data-bind="click: $parent.decrement"><span class="glyphicon glyphicon-minus"></span> </span>
                                    <input type="text" class="form-control" data-bind="value: count" />
                                    <span class="input-group-addon btn" data-bind="click: $parent.increment"><span class="glyphicon glyphicon-plus"></span></span>
                                </div>
                            </td>
                            <td>
                                <b><span data-bind="text: price"></span> <span class="fa fa-rub"></span></b>
                            </td>
                            <td>
                                <button data-bind="click: $parent.removeOrderItem" class="btn btn-link btn-xs"><span class="glyphicon glyphicon-remove"></span></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <span asp-validation-for="OrderItems" class="text-danger"></span>
        </div>
        <div class="row order-form">
            <div class="col-sm-6 customer-details">
                <h4>Ваши данные</h4>
                <div class="form-group">
                    <input class="form-control" asp-for="Email" placeholder="Email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input class="form-control phone-number" asp-for="PhoneNumber" placeholder="Телефон" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <textarea class="form-control" asp-for="Address" placeholder="Адрес доставки" rows="4"></textarea>
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <textarea class="form-control" asp-for="Comment" placeholder="Комментарий к заказу" rows="4"></textarea>
                    <span asp-validation-for="Comment" class="text-danger"></span>
                </div>
            </div>
            <div class="col-sm-6">
                <h4>Доставка</h4>
                <div class="form-group">
                    @foreach (var delivery in Html.GetEnumSelectList<Piligrim.Core.Models.DeliveryMethod>())
                    {
                        <div class="radio">
                            <label>
                                <input asp-for="Delivery" type="radio" value="@delivery.Value">
                                @delivery.Text
                            </label>
                        </div>
                    }
                    <span asp-validation-for="Delivery" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <h4>Оплата</h4>
                    @foreach (var payment in Html.GetEnumSelectList<Piligrim.Core.Models.PaymentMethod>())
                    {
                        <div class="radio">
                            <label>
                                <input asp-for="Payment" type="radio" value="@payment.Value">
                                @payment.Text
                            </label>
                        </div>
                    }
                    <span asp-validation-for="Payment" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="row total">
            <div class="text-right">
                <p class="total"><b>Итого: <span data-bind="text: cost"></span> <span class="fa fa-rub"></span></b></p>
                <button type="submit" class="btn btn-danger btn-lg">Оформить заказ</button>
            </div>
        </div>
    </form>
</div>

@section head
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
    <script src="~/js/cart.js" asp-append-version="true"></script>
}