footer {
    margin-top: 20px;
}
.main-wrapper {
    max-width: 1200px;
}
.list-item img {
    width: 200px;
}
        
.product-details form {
    margin-top: 40px;
}
.product-details .input-group, .cart .input-group {
    max-width: 120px;
}
.cart-list img {
    max-width: 100px;
}
.total {
    font-size: 125%;
}
.customer-details {
    border-right: 1px dotted #ddd;
}
.order-form {
    border-top: 1px dotted #ddd;
    border-bottom: 1px dotted #ddd;
}
.total {
    margin-top: 10px;
}
.order-list td:nth-child(1) {
    width: 150px;
}
.order-list td:nth-child(3) {
    width: 140px;
}
.order-list td:nth-child(4) {
    width: 90px;
}
.order-list td:nth-child(5) {
    width: 45px;
}

.icrementer input[type="text"] {
    width: 42px;
}